footer {
    position: relative;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black; /* Couleur de fond noir */
    color: white; /* Couleur de police blanche */
}