.part1, .part2{
    margin-top: 30px;
  }

  .part1 h2, .part2 h2{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 4px;
    padding-bottom: 10px;

  }

  .part1 ol, .part2 ol{
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .part1 li, .part2 li{
    opacity: 0;
    transform: translateX(-20px);
    animation: slide-in 2s ease forwards;
  }

  .part1 hr, .part2 hr{
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ccc;  }

  .part1, .part2{
    border: 1px solid #000000;
    border-radius: 4px;
    margin-bottom: 20px;

  }


  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  body {
    font-family: Arial, sans-serif;
    text-align: center;
  }

  
  /* Set header styles */
  #headerDiv {
    color: #fff;
    padding: 20px;
  }


  #copyright{
    bottom: 0;
    color : black;
    font-size: 1,2em;
    position: fixed;
    width: 100%;
    text-align: center;
    /* Make the footer blink */ 
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#help {
    /* Put it in the bottom right corner of the page */
    position: fixed;
    bottom: 0;
    right: 10px;
    opacity: 0.5;
    font-weight: bold;
    border-radius: 20px;
    /* Add a border around the text area */
    border: 1px solid #ccc;
    font-weight: bold;
}


