/* Set the font for the page */

* {
    box-sizing: border-box;
  }

body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  /* Style the header and footer */
  #headerDiv{
    color: #fff;
    padding: 20px;

  }



#copyright{
    bottom: 0;
    color : black;
    font-size: 1,2em;
    position: fixed;
    width: 100%;
    text-align: center;
    /* Make the footer blink */ 
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#help {
    /* Put it in the bottom right corner of the page */
    position: fixed;
    bottom: 0;
    right: 10px;
    opacity: 0.5;
    /* Add a round border around the text area */
    border-radius: 20px;
    /* Add a border around the text area */
    border: 1px solid #ccc;
    font-weight: bold;


}

  
  /* Style the input file and import image button */
  #import_file_div {
    margin-top: 20px;
  }
  
  #input_file {
    margin-bottom: 10px;
    overflow: hidden;
  }

  #input_file input[type=file] {
    display: none;
  }

  #input_file_label {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #import_image {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #import_image:hover {
    background-color: #3E8E41;
  }
  
  /* Style the passphrase input field and create download image button */
  #passphrase_file_div {
    margin-top: 20px;
    /* Center the div */
    margin-left: auto;
    margin-right: auto;
    width: 50%;

  }
  
  #passphrase_file {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #create_download_image {
    background-color: #008CBA;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #create_download_image:hover {
    background-color: #006380;
  }
  
  /* Style the download image button */
  #download_file_div {
    margin-top: 20px;
  }
  
  #download_image {
    background-color: #008CBA;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #download_image:hover {
    background-color: #006380;
  }
  
  /* Style the image */
  #image_div {
    margin-top: 20px;
  }
  
  #image {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  