/* Set body styles */

body {
    font-family: Arial, sans-serif;
    text-align: center;
  }

  
  /* Set header styles */
  #headerDiv {
    color: #fff;
    padding: 20px;
  }
  
  #import_file_div {
    margin-top: 20px;
  }
  
  #input_file {
    margin-bottom: 10px;
    overflow: hidden;
  }

  #input_file input[type=file] {
    display: none;
  }

  #input_file_label {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #import_image {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #import_image:hover {
    background-color: #3E8E41;
  }

.delete-role, .delete-word {
    user-select: none;
    cursor: pointer;
}

#roles_div{
    margin-top: 20px;
    /* Center the div */
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#create_roles {
    background-color: #008CBA;
    color: #fff;
    border: none;
    padding: 5px 15px;
    font-size: 12px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
  }



#roles_input {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#roles_div, #download_file_div, #image_div{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

#words_div{
    display: none;
}

#roles_list_div, #words_list_div{
    padding: 10px;
    max-height: 150px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

#role-list, #word-list {
    padding: 0;
    list-style: none;
    width: 100%;
    max-height: 10%;
    overflow: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#role-list li, #word-list li {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#role-list li:last-child, #word-list li:last-child {
    border-bottom: none;
}
  
#role-list li:before, #word-list li:before {
    content: none;
}
  
#role-list li:hover, #word-list li:hover {
    background-color: #f5f5f5;
}
  
#role-list li:not(:last-child), #word-list li:not(:last-child) {
    margin-bottom: 5px;
}

#image_div{
    max-width: 100%;
    height: auto;
}

#image {
    width: 50%;
    height: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    user-select: none;
  }

  #copyright{
    bottom: 0;
    color : black;
    font-size: 1,2em;
    position: fixed;
    width: 100%;
    text-align: center;
    /* Make the footer blink */ 
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#help {
    /* Put it in the bottom right corner of the page */
    position: fixed;
    bottom: 0;
    right: 10px;
    opacity: 0.5;
    font-weight: bold;
    border-radius: 20px;
    /* Add a border around the text area */
    border: 1px solid #ccc;
    font-weight: bold;
}

#download_image {
    background-color: #008CBA;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }